body {
    font-family: Arial, Helvetica, sans-serif
}

.titulo-documento {
    display: flex;
    justify-content: space-between;

}
.cabecera{
    font-style: italic;
    text-align: left;
    padding: 20px;
}
.nombre-titulo {
   font-size: 300%;
}
.puesto-deseado{
    font-size: 150%;
}
.fotografia {
    max-width: 50%;
    width: 220px;
    height: auto;
    padding: 25px;
    }
.foto{
    text-align: end;
}
.direccion{
display: flex;
}
.nombre-datos{
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    padding-right: 8px;
}
.titulo-seccion{
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
hr{
    height: 4px;
    background-color: black;
}
.seccion-container{
    display: flex;
    padding-top: 8px;
}
.empresa{
    font-weight: bold;
    
}
    