body {
    font-family: Arial, Helvetica, sans-serif
}

.Titulo-documento {
    display: flex;
    justify-content: space-between;

}
.cabecera{
    font-style: italic;
    text-align: left;
    padding: 25px;
}
.Nombre-titulo {
   font-size: 300%;
}
.puesto{
    font-size: 150%;
}
.fotografia {
    max-width: 50%;
    width: 220px;
    height: auto;
    padding: 25px;
    }
.foto{
    text-align: end;
}
    